/* FONT COLOR */
$text-white: #FFFFFF;
$text-primary: #F5F5F5;
$text-secondary: #D5D4D8;
$horizontal-line: #C3C6DB;
$text-btn: #4A4E74;

/* THEME COLOR */
$bg-primary: #1F2937;
$bg-secondary: #3A69D2;
$bg-body: #1C1C1C;

/* BUTTONS COLOR */
$btn-task: #D1D4F4;
$btn-submit: #3A69D2;
